In [1]:
import pandas as pd
import numpy as np
from io import StringIO

In [2]:
csv_data = StringIO("""
name,sex,age,height,weight,test_result
John,M,23,180,70,0.3
Kate,F,34,165,60,0.4
Peter,M,40,176,73,0.2
Anna,F,25,160,52,0.6
Stefan,M,30,182,85,0.1
David,M,24,175,65,0.5
Sophia,F,33,167,57,0.6
Jacob,M,36,180,75,0.4
Grace,F,28,158,54,0.7
Oliver,M,32,177,80,0.3
""")

df_orig = pd.read_csv(csv_data)

df_orig

     name sex  age  height  weight  test_result
0    John   M   23     180      70          0.3
1    Kate   F   34     165      60          0.4
2   Peter   M   40     176      73          0.2
3    Anna   F   25     160      52          0.6
4  Stefan   M   30     182      85          0.1
5   David   M   24     175      65          0.5
6  Sophia   F   33     167      57          0.6
7   Jacob   M   36     180      75          0.4
8   Grace   F   28     158      54          0.7
9  Oliver   M   32     177      80          0.3

In [3]:
# 01. Carry out the categorization for the 'sex' column: M -> 0, F -> 1
df = df_orig.copy()

df['sex'] = df['sex'].replace({'M': 0, 'F':1})

# -------------------

def test_01():
    assert df['sex'].tolist() == [0, 1, 0, 1, 0, 0, 1, 0, 1, 0], 'Solution is incorrect'
    print('Solution is correct')
    
test_01()

Solution is correct

C:\Users\domin\AppData\Local\Temp\ipykernel_13776\1755251587.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['sex'] = df['sex'].replace({'M': 0, 'F':1})

In [4]:
# 02. Calculate the average age for each sex
df = df_orig.copy()

# Insert your code here
mean_age = df.groupby('sex')['age'].mean()

male_mean_age = mean_age['M']
female_mean_age = mean_age['F']


# -------------------

def test_02():
    assert np.isclose(male_mean_age, 30.8, atol=0.1) and np.isclose(female_mean_age, 30.0, atol=0.1), 'Solution is incorrect'
    print('Solution is correct')

test_02()

Solution is correct

In [5]:
# 03. Add a new column "bmi" - Body Mass Index (weight/(height/100)**2)
df = df_orig.copy()

df['bmi'] = df['weight']/((df['height']/100)**2)
df

# -------------------

def test_03():
    assert all(np.isclose(
        df['bmi'],
        [21.60,  22.03, 23.56, 20.31,  25.66, 21.22,  20.43,  23.14, 21.63, 25.53],
        atol=0.1)
        ), 'Solution is incorrect'
    print('Solution is correct')
    
test_03()

Solution is correct

In [6]:
# 04. Find the name of the person with the highest test result
# Clue - use function idxmax() on column to find index with max value

df = df_orig.copy()

name_index = df['test_result'].idxmax()
name = df.loc[name_index, 'name']
name



def test_04():
    assert name == 'Grace', 'Solution is incorrect'
    print('Solution is correct')

test_04()

Solution is correct

In [7]:
# 05. Count how many people are under 30 years old

df = df_orig.copy()

num_people_below_30 = (df['age'] < 30).sum()
num_people_below_30


def test_05():
    assert num_people_below_30 == 4, 'Solution is incorrect'
    print('Solution is correct')

test_05()

Solution is correct

In [8]:
# 06. Add a new column 'test_passed', which will have value 1 if 'test_result' > 0.3, otherwise 0.
# Additionally, compute the percentage of people who passed the test.
# Clue 1: use function apply() on column or np.where() to calculate 'test_passed'01_cwiczenia_pandas.ipynb
# Clue 2: use .sum() on 'test_passed'

df = df_orig.copy()

df['test_passed'] = np.where(df['test_result'] > 0.3, 1, 0)
mean_test_result = df['test_passed'].sum() / len(df) * 100

def test_06():
    assert df['test_passed'].tolist() == [0, 1, 0, 1, 0, 1, 1, 1, 1, 0], 'Solution is incorrect'
    assert np.isclose(mean_test_result, 60, atol=0.00), 'Solution is incorrect'
    print('Solution is correct')

test_06()

Solution is correct